.swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 9999 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f1bcd;
  right: -3px;
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
  z-index: 9999 !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #9f1bcd;
  left: 1px;
}

.mySwiper {
  padding: 0 15px;
}
