:root {
  --day-vibe: rgba(46, 15, 64, 1);
  --gray-4: rgba(73, 80, 87, 1);
  --h-1-font-family: "Roboto-Medium", Helvetica;
  --h-1-font-size: 50px;
  --h-1-font-style: normal;
  --h-1-font-weight: 500;
  --h-1-letter-spacing: 0px;
  --h-1-line-height: normal;
  --color-light-gray: #fad961;
}
